extends layout

block content
  h1= title
  p Welcome to #{title}
  label.form-title(for='search') Search
  input#search(name='search', placeholder='Employee', value='').form-field
  
  br
  ul#resultado