doctype 
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      - if(typeof user != "undefined"){
      a(class='logout submit-button', href='/logout') Logout
      - }
      - console.log(user);
    block content

    script(src='/js/jquery-1.11.0.min.js')
    script(src='/js/busquedas.js')
    script(src='/js/validate.min.js')