extends layout

block content
  <div class="success_box"></div>
  <div class="error_box"></div>
  form#login(method="post",action="", name="example_form").form-container
    h1.form-title= title
    label.form-title(for='name') Nombre
    input#name(name='name', placeholder='nombre', value='').form-field
    label.form-title(for='lastname') Apellido
    input#lastname(name='lastname', placeholder='apellido', value='').form-field
    label.form-title(for='email') E-Mail
    input#email(name='email', placeholder='email', value='').form-field
    label.form-title(for='password') Password
    input#pwd(name='password', placeholder='Password', value='', type='password').form-field
    label.form-title(for='confirm') Confirm Password
    input#confirm(name='confirm', placeholder='Confirm Password', value='', type='password').form-field
    input#send(type='submit', value='Enviar').submit-button
    a(class='cancelar submit-button', href='/panel/employees') Cancelar